<form [formGroup]="myForm">
  <table>
    <div formGroupName="groupe1">
    <tr>
      <td>name:</td>
      <td><input type="text" formControlName="name">
      <div *ngIf="name.errors && name.touched"> <!---name.invalid touched ki n7ot lcurseur baad nbatel yodhhrli lmsg d'erreur-->
        <div *ngIf="name.errors['required']">Name obligatoire!</div>
        <div *ngIf="name.errors['minlength']">Minimum
          {{name.errors['minlength'].requiredLength}} caractères alors que tu as tapé
          {{name.errors['minlength'].actualLength}}</div>
      </div>
      </td>
    </tr>
    <tr>
      <td>address</td>
      <td><input type="text" formControlName="address">
        <div *ngIf="address.invalid && address.touched">
          address obligatoire!
        </div>
      </td>
    </tr>
  </div>
<div>
    <tr *ngIf="groupe1.valid">
      <td>image</td>
      <td><input type="text" formControlName="image">
        <div *ngIf="image.invalid && image.touched">
          image obligatoire!
        </div></td>
    </tr>
    <tr>
      <td></td>
      <td><button (click)="addR()"[disabled]="myForm.invalid">add</button></td>
    </tr>
  </div>
  </table>
 
</form>